<template>
  <button @click="sync" style="white-space:nowrap">
    <template>
      SYNC
    </template>
  </button>
</template>


<script>
export default {
  name: "BeatSync",
  props: {
    value: {
      type: Number,
      default: () => null
    },
    bpm: {
      type: Number
    }
  },
  data() {
    return {
      offset: this.value
    }
  },
  computed: {
  },
  methods: {
    sync () {
      // const mins = new Date()/1000/60
      const t = (new Date()/1000)
      const beats = t % ((60/this.bpm))

      // const beats = mins / this.bpm * 1000
      const offset = beats - Math.floor(beats)
      console.log(this.bpm, 't', t, 'beats', beats, 'offset', offset)
      this.$emit('input', offset)
    }
  },
}
</script>

<style>

</style>