<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view/>
  </div>
</template>

<style lang="scss">
html, body {
  margin: 0;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  background: #000;
  min-height: 100vh;
  margin: 0;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

input[type=text], 
input[type=number] {
  background:#333;
  border-radius: .4em;
  padding: .2em .5em .3em;
  line-height: 1em;
  color: aliceblue;
  border: none;
  width: 100%;
  box-sizing: border-box;
}
input[type=text]:focus, 
input[type=number]:focus {
  border: none;
  outline: none;
}

button {
  background:rgb(90, 90, 90);
  border-radius: .4em;
  padding: .2em .5em .3em;
  line-height: 1em;
  color: aliceblue;
  border: none;
  width: 100%;
  box-sizing: border-box;
}
button:focus {
  border: none;
  outline: none;
}


</style>
